@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'organica-bold';
  src: url(/public/fonts/Organica\ Bold.otf) format('opentype');
}

@font-face {
  font-family: 'organica-medium';
  src: url(/public/fonts/Organica\ Medium.otf) format('opentype');
}

@font-face {
  font-family: 'organica-regular';
  src: url(/public/fonts/Organica\ Regular.otf) format('opentype');
}

@font-face {
  font-family: 'organica-light';
  src: url(/public/fonts/Organica\ Light.otf) format('opentype');
}

body {
  background-color: #FEFEFE;
}

.temp {
  border: 1px solid red;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 667s linear infinite;
}